.form-horizontal {
    background-color: #f5f5dc;
    padding: 38px 96px 26px 0;
    border: solid  #337ab7 2px;
}

.form-horizontal label{
    text-transform: uppercase;
}

.form-horizontal .btn {
    padding: 0 !important;
    line-height: 1;
    font-size: 33px;
}

.form-horizontal ul li {
    color: red;
    font-size: 10px;
    font-family: fantasy;
    font-style: oblique;
}