{#extending base template, so our msg will be within body block on base template#}
{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form, {attr: {novalidate: 'novalidate', 'class': 'form-horizontal'}}) }}
    {{ form_errors(form) }}
        <div class="form-group">
            {{ form_label(form.operand1, 'operand 1', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_errors(form.operand1) }}
                {{ form_widget(form.operand1, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.operator, 'Operator', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_errors(form.operator) }}
                {{ form_widget(form.operator, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.operand2, 'operand 2', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_errors(form.operand2) }}
                {{ form_widget(form.operand2, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.result, 'Result', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            <div class="col-sm-10">
                {{ form_errors(form.result) }}
                {{ form_widget(form.result, {'attr': {'class': 'form-control'}, 'value': form.vars.value.result}) }}
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form_widget(form.submit, { 'attr': {'class': 'btn btn-primary form-control'}, label: '=' }) }}
            </div>
        </div>

    {{ form_end(form) }}

{%  endblock %}